.bg-dark {
    background-color: #171717 !important;
}
.text-primary {
    color: #51EA5A !important;
}
.text-green {
    color: #51EA5A;
}

.list-group-item {
    background-color: #1C1C1C;
    color: #F0F0F0;
    border-color: #333;
}

.warrior-color {
    background-color: #C69B6D !important;
}
.deathknight-color {
    background-color: #C41F3B !important;
}
.druid-color {
    background-color: #FF7D0A !important;
}
.priest-color {
    background-color: #FFFFFF !important;
    color: #171717 !important;
}
.hunter-color {
    background-color: #ABD473 !important;
}
.mage-color {
    background-color: #3FC7EB !important;
}

input[type="checkbox"] {
    background-color: #333;
    border: 2px solid #51EA5A;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: #51EA5A;
}

[data-wowhead] {
    color: #51EA5A;
    text-decoration: none;
}
[data-wowhead]:hover {
    color: #FFFFFF;
}

.list-group-item input[type="checkbox"] {
    margin-right: 10px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

